<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/util
    http://www.springframework.org/schema/util/spring-util.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- standalone collection -->

	<util:list list-class="java.util.LinkedList" id="arrlist">
		<value>shivam</value>
		<value>sura</value>
		<value>deepak</value>
		<value>somwtu</value>
		<value>ramehs</value>
	</util:list>

	<util:map map-class="java.util.Map" id="mapClass">
		<entry key="shviam" value="choudhary"></entry>
		<entry key="shviam" value="choudhary"></entry>
		<entry key="shviam" value="choudhary"></entry>
		<entry key="shviam" value="choudhary"></entry>
	</util:map>


	<util:properties id="dbconfig">
		<prop key="driver">com.mysql.jdbc.Driver</prop>
		<prop key="username">root</prop>
		<prop key="password">root</prop>
		<prop key="url">mysql:jdbc://localhost:8080/databse</prop>

	</util:properties>
	<bean class="com.springcore.collections.standalone.Person"
		name="person">
		<property name="friend">
			<ref bean="arrlist" />
		</property>
	</bean>

</beans>