/* Ess Menu */
.bg-nav-foot {
	background-color: #333;
}


.dropdown:hover .dropdown-menu {
	display: block; 
}

.navbar-nav li, .navbar-nav li a, .navbar-nav li a:hover {
	 
	color: #e9e7e7;
}

.dropdown-menu li a {
	color: #444141;
} 

.dropdown-item:focus, .dropdown-item:hover {
	background-color: #595959;
     
}
.select2-dropdown{
	z-index: 1;
}

/* End Ess Menu */
