<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<!-- have writie that why show error-->
	<session-factory>
		<property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/myhiber</property>
		<property name="connection.username">root</property>
		<property name="connection.password">Shivam@219@</property>
		<property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
		<!-- auto create table create-> create table 
			again click then delete table and again create
		-->
		<!-- 	<property name="hbm2ddl.auto">update</property>-->
		<!-- 
		<mapping class="com.tut.HiberMaven.student" />
		<mapping class="com.tut.HiberMaven.Address" />
		<mapping class="com.tut.mtm.Answer" />
		<mapping class="com.tut.mtm.Question" />
		-->
		<!-- Map One To One Many to One One to Many-->
		<!-- 
		<mapping class="com.tut.MapOneToOne.Conn" />
		<mapping class="com.tut.MapOneToOne.Prod" />
		<mapping class="com.tut.MapOneToOne.Price" />
		<mapping class="com.tut.MapOneToOne.Supplier" />-->
		<property name="hbm2ddl.auto">create</property>
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<mapping class="com.tut.mtm2.Emp" />
		<mapping class="com.tut.mtm2.Projects" />
	</session-factory>
</hibernate-configuration>