<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx" xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd">

	<bean class="com.springcore.collections.Emp" name="emp">
		<property name="name" value="rama" />
		<property name="phone">
			<!-- <value></value> -->

			<list>
				<value>8779750059</value>
				<value>8976647743</value>
				<value>8108527830</value>
				<null></null>
			</list>
		</property>

		<property name="address">
			<set>
				<value>reama</value>
				<value>hongkong</value>
				<value>mumbai</value>
				<value>india</value>
			</set>
		</property>
		<property name="map">

			<map>
				<entry key="java" value="2month" />
				<entry key="python" value="2month" />
				<entry key="web" value="2month" />
				<entry key="c++" value="2month" />
			</map>

		</property>

<!-- need to define getter and setter -->
<!-- 		<property name="prop">

			<props>
				<prop key="name">shviam</prop>
				<prop key="surname">chuodhary</prop>
			</props>

		</property> -->
	</bean>

</beans>