<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select 2</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
 </head>

<body>

    <div class="card-body">
        <form action="code.php" method="POST">
            <div class="form-group mb-3">
                <label for="">Brands</label>
                <select name="brandlist[]" multiple class="form-control">
                    <option value="Red Mi">Red Mi</option>
                    <option value="Samsung">Samsung</option>
                    <option value="Nokia">Nokia</option>
                    <option value="Vivo">Vivo</option>
                    <option value="Asus">Asus</option>
                    <option value="Lenovo">Lenovo</option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit" name="save_multi_select" class="btn btn-primary">Save Data</button>
            </div>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script>
        $(".js-example-basic-multiple-limit").select2({
            maximumSelectionLength: 2
        });
        $('select').select2({
            placeholder: 'This is my placeholder',
            allowClear: true
        });
    </script>

</body>

</html>